ul {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
      font-size: 1.7em;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      color: var(--color-neutral-500);

      &:hover {
        color: var(--color-neutral-300);
      }
  }

  .hamburger-menu {
    span {
      display: block;
      margin:4px;
      height: 9px;
      width:60px;
      background: #d3531a;
      border-radius: 9px;
    }

    input[type="checkbox"] {
      display: none;
    }

    .hamburger-items {
      display: none;
    }

    #hamburger-checkbox:checked ~ .hamburger-items {
      display: block;
    }

  }

  .menu-items {
    ul {

      // The items that display without being overed
      a, li, ul{
        color: var(--neutral-layer-1-text);
        margin: auto var(--space-md);
        position: relative;
        display: inline-block;
      }

      a:hover {
        color: var(--neutral-layer-2-text);
      }

    }
  }
}


// Use hamburger menu on mobile and dropdown menu on desktop
